**/.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log
.terraform.lock.hcl
it-devops-tf-a5216c92be7b.json



*.tfstate
*.tfstate.*
*.tfplan


*.tfvars
*.tfvars.json


crash.log
crash.*.log


.terraform/